* {
  border: none;
  font-family: Source Sans Pro;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #f7df1e;
  color: black;
}

.navbar li {
  display: inline-block;
  letter-spacing: 3px;
  padding: 20px 50px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  font-weight: bold;
}

.header {
  background-attachment: fixed;
  background-image: url("./images/header-image.jpg");
  background-position: center center;
  background-size: cover;
  color: white;
  height: 650px;
  /*opacity: 0.4;*/
  text-align: center;
  width: 100%;
}

  .header > img {
    height: 300px;
    padding: 200px 0 0 0;
    width: 300px;
  }

.intro {
  background-color: #f7df1e;
  color: black;
  font-size: 20px;
  padding: 70px;
  text-align: center;
}

.meetupPics {
  height: 50px;
  width: 50px;
}

.meetup {
  background-attachment: fixed;
  background-image: url("./images/header2.png");
  background-position: center center;
  background-size: cover;
  height: 200px;
  text-align: center;
}

  .meetup button {
    background-color: black;
    border: 1px solid #f7df1e;
    letter-spacing: 6px;
    color: white;
    font-size: 150%;
    font-weight: bold;
    margin: 70px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .meetup button:hover {
    background-color: #f7df1e;
    color: black;
    cursor: pointer;
  }

#organisers-content {
  display: none;
}

#organisers {
  background-color: #f7df1e;
  padding: 50px;
  text-align: center;
}

  #organisers > h1 {
    padding-bottom: 30px;
    text-align: center;
  }

  #organisers > p {
    max-width: 240px;
    text-align: center;
  }

.profile {
  display: inline-block;
  padding: 0 10px 30px 10px;
}

.profile-pic {
  border-radius: 200px;
  height: 240px;
  object-fit: cover;
  object-position: cover;
  width: 240px;
}

.imageHolder {
  background-color: black;
  height: 250px;
  width: 250px;
  margin: 0;
  padding: 0;
}

.social-icon {
  filter: invert(100%);
  height: 25px;
  width: 25px;
}

.display-button {
  background-color: black;
  border: 1px solid white;
  letter-spacing: 6px;
  color: white;
  font-size: 150%;
  font-weight: bold;
  margin: 70px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.display-button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

#contact-form {
  display: none;
}

  #contact-form input, #contact-form textarea {
    display: block;
    font-size: 20px;
    margin: 15px auto;
  }

.email {
  height: 50px;
  padding: 10px;
  width: 800px;
}

.message {
  height: 200px;
  padding: 10px;
  width: 800px;
}

.submit {
  background-color: black;
  border: 1px solid white;
  letter-spacing: 6px;
  color: white;
  font-size: 150%;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.submit:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

footer {
    padding: 20px;
}

footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 900px) {

    #contact-form .email, #contact-form .message {
        width: 400px;
    }
}

@media (max-width: 450px) {

    #contact-form .email, #contact-form .message {
        width: 250px;
    }
}
